body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin-bottom: 10px;
}
th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

#blueTeamHeader th {
	background-color: #00ccff;
}

#redTeamHeader th {
	background-color: #ff4d4d;
}

#search {
	height: 100px;
}

#content {
	position:absolute;
    top: 140px;
	left:0px;
	right:0px;
    bottom:0px;
	padding-left: 60px;
    overflow-y:scroll;  
}
